/* ---------------- */
/* Settings Classes */
label.pause-text.pt-label-name {
  font-weight: bold;
}
.pause-text.pt-settings-save {
  width: 200px;
  background-color: rgb(190, 189, 178);
  border: 2px groove var(--color-border-light-highlight);
}
.pause-text.pt-submenu-header {
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
}

/* ----------------- */
/* Animation Classes */
#pause.pulsate {
  background: none;
  animation: pulsate var(--animation-duration, 3s) infinite ease-in-out;
}

/* ------------------- */
/* Animation Keyframes */
@keyframes pulsate {
  0% {
    filter: drop-shadow(0 0 0 transparent);
  }
  50% {
    filter: drop-shadow(0 0 10px rgba(0, 255, 255, 1));
  }
  100% {
    filter: drop-shadow(0 0 0 transparent);
  }
}
